@tailwind base;
@tailwind components;
@tailwind utilities;



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td{
  padding: 0.5rem;
}
tr:nth-child(2n)  {
  background:rgb(250, 246, 246);
}
tr:nth-child(1){
  background:white;
}
